{% extends 'base.html.twig' %}

{% block title %}Calendario{% endblock %}

{% block body %}
    {{ parent() }}

    {% set anioActual = calendario.anios|first.numAnio %}

    <h1 class="font-weight-bold text-center">Calendario {{ anioActual }}-{{ anioActual+1 }}</h1>
    
    <div class="container-fluid">
        <div class="row">
            {% for anio in calendario.anios %}
                {% for mes in anio.mes %}
                    <div class="col-md-4">
                        {% set primerDia = mes.primerDia %}
                        <table class="calendario" >
                            <tr>
                                <th colspan="7">{{ mes.nombre }} {{ anio.numAnio }}</th>
                            </tr>

                            <tr>
                                {% for NombreDia in dias_semana %}
                                    <th>{{ NombreDia }}</th>
                                {% endfor %}
                            </tr>

                            <tr>
                                {% if mes.primerDia != 0 %}
                                    {% for diasVacios in 0..mes.primerDia-1 %}
                                        <td></td>
                                    {% endfor %}
                                {% endif %}

                                {% for dia in mes.dias %}
                                    {% if primerDia == 7 %}
                                        </tr><tr>
                                        {% set primerDia = 0 %}
                                    {% endif %}

                                    {% if dia.EsNolectivo %}
                                        <td class="text-danger" title="{{dia.evento.getNombreFestivo(dia.evento)|default('')}}">{{ dia.numDia }}</td>
                                    {% elseif dia.hayClase %}
                                        <td class="fecha-clase" title="{{dia.evento.getNombreClase(dia.evento)|default('')}}">{{ dia.numDia }}</td>
                                    {% else %}
                                        <td>{{ dia.numDia }}</td>
                                    {% endif %}

                                    {% set primerDia = primerDia+1 %}
                                {% endfor %}
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
	<button type="button" class="btn btn-primary crear-asignatura" onclick="window.location.href='{{ path('app_menu_profesor') }}'">Volver al menú principal</button>
{% endblock %}
