{% extends 'base.html.twig' %}

{% block title %}Calendario{% endblock %}

{% block body %}
    {{ parent() }}
    
    <div class="container-fluid">
        <div class="row">
            {% for anio in calendario.anios %}
                {% for mes in anio.mes %}
                    <div class="col-md-4">
                        {% set primerDia = mes.primerDia %}
                        <table class="calendario" >
                            <tr>
                                <th colspan="7">{{ mes.nombre }} {{ anio.numAnio }}</th>
                            </tr>

                            <tr>
                                {% for NombreDia in dias_semana %}
                                    <th>{{ NombreDia }}</th>
                                {% endfor %}
                            </tr>

                            <tr>
                                {% if mes.primerDia != 0 %}
                                    {% for diasVacios in 0..mes.primerDia-1 %}
                                        <td></td>
                                    {% endfor %}
                                {% endif %}

                                {% for dia in mes.dias %}
                                    {% if primerDia == 7 %}
                                        </tr><tr>
                                        {% set primerDia = 0 %}
                                    {% endif %}

                                    {% if dia.Eslectivo %}
                                        <td class="bordered text-danger" title={{dia.evento.abreviatura|default('')}}>{{ dia.numDia }}</td>
                                    {% else %}
                                        <td class="bordered" title={{dia.evento.abreviatura|default('')}}>{{ dia.numDia }}</td>
                                    {% endif %}

                                    {% set primerDia = primerDia+1 %}
                                {% endfor %}
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
