{% extends 'base.html.twig' %}

{% block title %}Calendario{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('css/calendario.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% set contadorMeses = 0 %}
    <table>
        {% for mes in anio.mes %}
            {% set contadorMeses = contadorMeses + 1 %}
            <td>
                {% set primerDia = mes.primerDia %}
                <table>
                    <tr>
                        <th colspan="7">{{ mes.nombre }} {{ anio.nombre }}</th>
                    </tr>

                    <tr>
                        {% for NombreDia in dias_semana %}
                            <th>{{ NombreDia }}</th>
                        {% endfor %}
                    </tr>

                    <tr>
                        {% if mes.primerDia != 0 %}
                            {% for diasVacios in 0..mes.primerDia-1 %}
                                <td></td>
                            {% endfor %}
                        {% endif %}

                        {% for dia in mes.dias %}
                            {% if primerDia == 7 %}
                                </tr><tr>
                                {% set primerDia = 0 %}
                            {% endif %}

                            <td>{{ dia.valor }}</td>
                            
                            {% set primerDia = primerDia+1 %}
                        {% endfor %}
                    </tr>
                </table>
                {% if contadorMeses == 3 %}
                    </tr><tr>
                    {% set contadorMeses = 0 %}
                {% endif %}
            </td>
        {% endfor %}
    </table>
{% endblock %}
