{% extends 'base.html.twig' %}

{% block title %}{{accion}}
{% endblock %}

{% block body %}
	{{ parent() }}
	<!DOCTYPE html>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="font-weight-bold">{{accion}}</h1>
				<form action="{{ path(controlador) }}" method="post">
					{% if accion == "Eliminar localidad" %}
						<div class="alert alert-info" role="alert">
							Esta acción eliminará la localidad y podría afectar a los calendarios asociados.
						</div>
					{% endif %}
					<div class="form-group">
						<label for="nombreDeLocalidad">Escoge la localidad: </label>
						<select class="form-control nombreDeLocalidad" id="nombreDeLocalidad" name="localidad">
							<option selected>-- Selecciona la localidad --</option>
							{% for localidad in localidades %}
								<option>{{ localidad }}</option>
							{% endfor %}
						</select>
					</div>
					<button type="submit" class="btn btn-primary">{{accion}}</button>
				</form>
			</div>
		</div>
	</div>

	<footer class="footer mt-auto py-3">
        <div class="container">
            <div class="text-left">
                <a href="{{ path('app_menu_localidades_admin') }}" class="btn btn-primary">Volver al menú</a>
            </div>
        </div>
    </footer>
{% endblock %}
