{% extends 'base.html.twig' %}

{% block title %}Seleccionar titulación
{% endblock %}

{% block body %}
	{{ parent() }}
	<!DOCTYPE html>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="font-weight-bold">Seleccionar titulación</h1>
				<form action="{{ path('app_editar_titulacion') }}" method="POST">
						<select class="form-control" id="nombreDeTitul" name="nombreDeTitul">
							<option selected>-- Selecciona el nombre de la titulacion --</option>
							{% for titulacion in titulaciones %}
								<option value="{{titulacion.id}}">{{ titulacion.nombreTitulacion }}</option>
							{% endfor %}
						</select>
					<button type="submit" class="btn btn-primary">Editar titulación</button>
				</form>
			</div>
		</div>
	</div>

	<footer class="footer mt-auto py-3">
        <div class="container">
            <div class="text-left">
                <a href="{{ path('app_menu_titulaciones_admin') }}" class="btn btn-primary">Volver al menú</a>
            </div>
        </div>
    </footer>
{% endblock %}
