{% extends 'base.html.twig' %}

{% block title %}
    Menú principal administrador
{% endblock %}

{% block body %}
    {{ parent() }}
    {% include 'navbarAdministrador.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="font-weight-bold">Menú principal administrador</h1>
                <ul class="menu-list d-flex justify-content-between">
                    <li class="flex-fill">
                        <h4 class="menu-title">Docentes</h4>
                        <ul>
                            <li><a href="{{ path('app_formulario_profesor') }}">Crear docente</a></li>
                            <li><a href="{{ path('app_lista_profesor') }}">Ver docentes</a></li>
                            <li><a href="{{ path('app_seleccionar_profesor') }}">Editar docente</a></li>
                            <li><a href="{{ path('app_eliminar_profesor') }}">Eliminar docente</a></li>
                        </ul>
                    </li>
                    <li class="flex-fill">
                        <h4 class="menu-title">Titulaciones</h4>
                        <ul>
                            <li><a href="{{ path('app_formulario_titulacion') }}">Crear titulaciones</a></li>
                            <li><a href="{{ path('app_seleccionar_titulacion') }}">Editar titulaciones</a></li>
                            <li><a href="{{ path('app_lista_titulacion') }}">Listar titulaciones</a></li>
                            <li><a href="{{ path('app_eliminar_titulacion') }}">Eliminar titulaciones</a></li>
                        </ul>
                    </li>
                    <li class="flex-fill">
                        <h4 class="menu-title text-center" >Periodos no lectivos</h4>
                        <ul class="menu-list d-flex justify-content-between">
                            <li class="flex-fill">
                                <h4 class="menu-title">Nacional</h4>
                                <ul>
                                    <li><a href="{{ path('app_aniadir_festivo_nacional_admin') }}">Añadir periodo</a></li>
                                    <li><a href="{{ path('app_aniadir_festivo_nacional_admin') }}">Eliminar periodo</a></li>
                                    <li><a href="{{ path('app_actualizar_festivos_nacionales_admin') }}">Actualizar periodo</a></li>
                                </ul>
                            </li>
                            <li class="flex-fill">
                                <h4 class="menu-title">Local</h4>
                                <ul>
                                    <li><a href="{{ path('app_crear_localidad_admin') }}">Crear localidad</a></li>
                                    <li><a href="{{ path('app_aniadir_festivo_local_admin') }}">Añadir periodo</a></li>
                                    <li><a href="{{ path('app_actualizar_festivos_locales_admin') }}">Actualizar periodo</a></li>
                                </ul>
                            </li>
                            <li class="flex-fill">
                                <h4 class="menu-title">Centro</h4>
                                <ul>
                                    <li><a href="{{ path('app_crear_centro_admin') }}">Crear centro</a></li>
                                    <li><a href="{{ path('app_seleccionar_editar_centro') }}">Editar centro</a></li>
                                    <li><a href="{{ path('app_formulario_profesor') }}">Listar centros</a></li>
                                    <li><a href="{{ path('app_seleccionar_eliminar_centro') }}">Eliminar centro</a></li>
                                    <li><a href="{{ path('app_aniadir_festivo_centro_admin') }}">Añadir periodo</a></li>
                                    <li><a href="{{ path('app_actualizar_festivos_centro_admin') }}">Actualizar periodo</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
        </div>
    </div>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="text-left">
                <a href="{{ path('app_menu_principal') }}" class="btn btn-primary">Volver al menú principal</a>
            </div>
        </div>
    </footer>
{% endblock %}
