{% extends 'base.html.twig' %}

{% block title %}Menú principal alumno
{% endblock %}

{% block body %}
	{{ parent() }}
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="font-weight-bold">Menú principal alumno</h1>
				<form>
					<div class="form-group">
                    <ul>
                        <li><a href="{{ path('app_formulario_profesor') }}">Crear un calendario nuevo</a></li>
                        <li><a href="{{ path('app_formulario_profesor') }}">Editar un calendario existente</a></li>
                        <li><a href="{{ path('app_formulario_profesor') }}">Crear un calendario a partir de asignaturas existentes?</a></li>
					</ul>
                    </div>
				</form>
			</div>
		</div>
	</div>
	<li><a href="{{ path('app_menu_principal') }}">Volver al menú principal</a></li>
{% endblock %}