{% extends 'base.html.twig' %}

{% block title %}
    Menú principal profesor
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="font-weight-bold">Menú principal docente</h1>
                <ul class="menu-list d-flex justify-content-between">
                    <li class="flex-fill">
                        <h4 class="menu-title">Titulaciones</h4>
                        <ul>
                            <li><a href="{{ path('app_formulario_titulacion') }}">Crear titulaciones</a></li>
                            <li><a href="{{ path('app_seleccionar_titulacion') }}">Editar titulaciones</a></li>
                            <li><a href="{{ path('app_lista_titulacion') }}">Lista titulaciones</a></li>
                        </ul>
                    </li>
                    <li class="flex-fill">
                        <h4 class="menu-title">Asignaturas</h4>
                        <ul>
                            <li><a href="{{ path('app_formulario_asignatura') }}">Crear asignaturas</a></li>
                        </ul>
                    </li>
                    <li class="flex-fill">
                        <h4 class="menu-title">Docentes</h4>
                        <ul>
                            <li><a href="{{ path('app_seleccionar_profesor') }}">Editar docente</a></li>
                        </ul>
                    </li>
                    <li class="flex-fill">
                        <h4 class="menu-title">Calendario</h4>
                        <ul>
                            <li><a href="{{ path('app_formulario_centro') }}">Crear un calendario nuevo</a></li>
                            <li><a href="{{ path('app_leer_calendario') }}">Ver un calendario</a></li>
                            <li><a href="{{ path('app_editar_calendario') }}">Editar un calendario existente</a></li>
							<li><a href="{{ path('app_trasladar') }}">Trasladar calendario</a></li>
                            <li><a href="{{ path('app_seleccionar_eliminar_calendario') }}">Eliminar calendario</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

	<footer class="footer mt-auto py-3">
        <div class="container">
            <div class="text-left">
                <a href="{{ path('app_menu_principal') }}" class="btn btn-primary">Volver al menú principal</a>
            </div>
        </div>
    </footer>
{% endblock %}