<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_menu_administrador') }}">Menú administrador</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_menu_docentes_admin') }}">Docentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_menu_titulaciones_admin') }}">Titulaciones</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Periodos no lectivos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_menu_periodos_nacionales_admin') }}">Nacional &raquo;</a>
              <ul class="dropdown-menu submenu">
                <li><a class="dropdown-item" href="{{ path('app_menu_periodos_nacionales_admin') }}">Gestionar periodos</a>
                <li><a class="dropdown-item" href="{{ path('app_actualizar_festivos_nacionales_admin') }}">Actualizar periodos</a>
              </ul>
            </li>
            <li><a class="dropdown-item" href="{{ path('app_menu_periodos_locales_admin') }}">Local &raquo;</a>
              <ul class="dropdown-menu submenu">
                <li><a class="dropdown-item" href="{{ path('app_menu_periodos_locales_admin') }}">Gestionar periodos</a>
                <li><a class="dropdown-item" href="{{ path('app_menu_periodos_locales_admin') }}">Gestionar localidad</a>
                <li><a class="dropdown-item" href="{{ path('app_actualizar_festivos_locales_admin') }}">Actualizar periodos</a>
              </ul>
            </li>
            <li><a class="dropdown-item" href="{{ path('app_menu_periodos_centro_admin') }}">Centro &raquo;</a>
              <ul class="dropdown-menu submenu">
                <li><a class="dropdown-item" href="{{ path('app_menu_periodos_centro_admin') }}">Gestionar periodos</a>
                <li><a class="dropdown-item" href="{{ path('app_menu_centro_admin') }}">Gestionar centros</a>
                <li><a class="dropdown-item" href="{{ path('app_actualizar_festivos_centro_admin') }}">Actualizar periodos</a>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <a class="btn btn-danger" type="submit" href="{{ path('app_menu_principal') }}">Menú principal</a>
      </form>
    </div>
  </div>
</nav>