{% extends 'base.html.twig' %}

{% block title %}Eliminar titulación
{% endblock %}

{% block body %}
	{{ parent() }}
	<!DOCTYPE html>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="font-weight-bold">Eliminar titulación</h1>
				<form action="{{ path('app_eliminar_titulacion') }}" method="POST">
					<div class="alert alert-info" role="alert">
						Esta acción eliminará la titulación y podría afectar a los calendarios asociados.
					</div>
					<select class="form-control" id="nombreDeTitul" name="nombreDeTitul">
						<option selected>-- Selecciona el nombre de la titulacion --</option>
						{% for titulacion in titulaciones %}
							<option value="{{titulacion.id}}">{{ titulacion.nombreTitulacion }}</option>
						{% endfor %}
					</select>
					<button type="submit" class="btn btn-primary">Eliminar titulación</button>
				</form>
			</div>
		</div>
	</div>

	<script>
        {% if mensaje != "" %}
        Swal.fire('¡Éxito!', '{{ mensaje }}', 'success');
		{% endif %}
    </script>

	<footer class="footer mt-auto py-3">
        <div class="container">
            <div class="text-left">
                <a href="{{ path('app_menu_titulaciones_admin') }}" class="btn btn-primary">Volver al menú</a>
            </div>
        </div>
    </footer>
{% endblock %}
