{% extends 'base.html.twig' %}

{% block title %}Añadir festivos centro
{% endblock %}

{% block body %}
	{{ parent() }}
	<!DOCTYPE html>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="font-weight-bold">Añadir festivos de centro</h1>
				<form action="{{ path('app_aniadir_festivo_centro_admin') }}" method="POST">
					<div class="form-group">
						<label for="nombreCentroFestivo">Escoge el centro: </label>
						<select class="form-control nombreCentroFestivo" id="nombreCentroFestivo" name="centroFestivoSeleccionado">
							{% if centroSeleccionado == "" %}
								<option selected>-- Selecciona el centro --</option>
							{% endif %}
							{% for festivoCentro in festivosCentro %}
								{% if festivoCentro == centroSeleccionado %}
									<option selected>{{ festivoCentro }}</option>
								{% else %}
									<option>{{ festivoCentro }}</option>
								{% endif %}
							{% endfor %}
						</select>
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalFestivoCentro" {{disponible}}>
							Ver festivos del centro
						</button>
						<button type="submit" class="btn btn-primary seleccionar-festivos-centro">seleccionar centro</button>
					</div>
					<div class="alert alert-info" role="alert">
					Obligatoriamente cada centro debe tener estas 4 fechas con inicio y fin:
					<ul>
						<li>primer cuatrimestre</li>
						<li>segundo cuatrimestre</li>
						<li>exámenes finales primer cuatrimestre</li>
						<li>exámenes finales segundo cuatrimestre</li>
					</ul>
					<b>Importante: Es posible que un festivo comience y acabe el mismo día</b>
					</div>
					<table id="festivosCentroTable" class="table">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Inicio</th>
								<th>Final</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				<button type="button" class="btn btn-primary aniadir-festivos-centro" >Añadir festivo del centro</button>
				<button type="button" class="btn btn-primary guardar-festivos-centro">Guardar festivos del centro</button>
				</form>
			</div>
		</div>
	<button type="submit" class="btn btn-primary" onclick="window.location.href='{{ path('app_menu_administrador') }}'">Volver al menú administrador</button>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modalFestivoCentro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Festivos de {{centroSeleccionado}}</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<ul>
			{% for festivoCentroSeleccionado in festivosCentroSeleccionado %}
				<li>{{ festivoCentroSeleccionado }}</li>
			{% endfor %}
    		</ul>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
		</div>
		</div>
	</div>
	</div>
{% endblock %}
