{% extends 'base.html.twig' %}

{% block title %}Formulario alumno
{% endblock %}

{% block body %}
	{{ parent() }}
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1 class="font-weight-bold">Creación de alumno</h1>
				<form action="{{ path('app_formulario_alumno') }}" method="POST">
					<div class="form-group">
						<label for="titulAlum">Titulación y centro</label>
						<select class="form-control" id="titulAlum" name="titulAlum">
							{% if titulacionSeleccionada == "" %}
								<option selected>-- Selecciona el nombre de tu centro --</option>
							{% endif %}
							{% for titulacion in titulaciones %}
								{% if titulacion == titulacionSeleccionada %}
									<option value="{{titulacion.id}}/{{titulacion.nombre}}" selected>{{ titulacion.nombre }}</option>
								{% else %}
									<option value="{{titulacion.id}}/{{titulacion.nombre}}">{{ titulacion.nombre }}</option>
								{% endif %}
							{% endfor %}
						</select>
						<button type="submit" class="btn btn-primary seleccionar-titulacion">seleccionar centro</button>
						<br></br>
						<label for="dniAlum">Dni</label>
						<input type="text" class="form-control dniAlum" id="dniAlum">
					</div>
					<label for="labelnombreGrupos">Indique los grupos a los que pertenece:</label>
					<table id="gruposTable" class="table">
						<thead>
							<tr>
								<th>Grupo</th>
								<th>Eliminar</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
                    <button type="button" class="btn btn-primary aniadir-fila-alum" {{disponible}}>Añadir grupo</button>
					<button type="button" class="btn btn-primary crear-alumno">Crear alumno</button>
				</form>
			</div>
		</div>
	</div>

	<div id="grupos" data-grupos="{{ grupos }}" style="display: none;"></div>
	<div id="alumnos" data-alumnos="{{ alumnos }}" style="display: none;"></div>

	<footer class="footer mt-auto py-3">
        <div class="container">
            <div class="text-left">
                <a href="{{ path('app_menu_alumno') }}" class="btn btn-primary">Volver al menú alumno</a>
            </div>
        </div>
    </footer>
{% endblock %}